:root {
  --fuentePrincipal: 'Poppins', sans-serif;

  --primario: #ff6b09;
  --blanco: #ffffff;
  --negro: #000000;
  --gris: #e1e1e1;
  --marron: #6A4829;

  --colorPrimario: #ff5f2c;
  --colorSecunadrio: #d64519;
  --colorTerciario: #2e475d;

  --swiper-navigation-size: 30px
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  color: var(--colorTerciario);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--fuentePrincipal);
  font-size: 1.6rem;
  line-height: 2;
}

/* Globales */
img {
  max-width: 90%;
}

.container {
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: var(--fuenteHeading);
  line-height: 1.2;
}

h1 {
  font-size: clamp(3.5rem, 3.5rem + 1vw, 5.5rem);
}

h2 {
  font-size: clamp(2rem, 2.2rem + 1vw, 3.2rem);
  text-align: center;
}

h3 {
  font-size: clamp(1.8rem, 1.7rem + 1vw, 2.5rem);
}

p {
  font-size: clamp(1.6rem, 1.2rem + 1vw, 2.2rem);
}

/* Header */
.navegacion {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-enlaces-nav {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}

.container-enlaces-nav a {
  position: relative;
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

.menu-hamburguesa {
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.desplazar {
  position: fixed;
  transform: translateX(100%);
  transition: all 0.3s ease-in-out;
}

.menu-container {
  padding: 6rem 0;
  position: fixed;
  z-index: 6;
  top: 0;
  left: -45%;
  width: 45%;
  height: 100%;
  background-color: rgba(0,0,0,1);
  transition: all 0.3s ease-in-out;
}

.popup-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5;
  display: none;
  transition: all 0.3s ease-in-out;
}

.popup-menu.active {
  display: block;
  overflow-x: hidden;
  transition: all 0.3s ease-in-out;
}

.menu-container ul a {
  color: white;
  font-size: 1.8rem;
}

.header .equis {
  position: absolute;
  top: 0;
  right: 2rem;
  padding: 2rem 0rem;
  font-size: 3rem;
  color: white;
  cursor: pointer;
}

.header .luna {
  width: 30vw;
  max-width: 254px;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
}

.logo-dignita {
  position: relative;
  z-index: 1;
  padding: 2rem 4rem;
}

.primer-color {
  background-image: url(../img/ruido-tierra.png), linear-gradient(180deg, #150706 30%, #876445 100%);
  background-repeat: repeat, no-repeat;

}

.header img {
  padding: 5rem 5rem 5rem 5rem;
}

.header {
  position: relative;
  background: linear-gradient(105.36deg, #0C121E 33.17%, #121F2F 47.19%, #102130 64.78%, #0D1522 77.47%);
  width: 100%;
  height: 100vh;
  margin-bottom: -7rem;
}

.header-titulos {
  margin-left: 5rem;
  width: auto;
}


.boton-header {
  position: relative;
  margin: 0;
  display: flex;
  justify-content: left;
}

.boton-header a {
  position: absolute;
  border-radius: 2rem;
  padding: 1rem 6rem;
  color: white;
  background-color: #903400;
  margin: 0 auto;
  font-size: clamp(1.4rem, 1.5rem + 1vw, 2.8rem);
  transition: all .3s ease;
  margin: 0;
}

.boton-header a:hover {
  background-color: white;
  color: #903400;
}

.header h1 {
  font-size: clamp(3rem, 3rem + 1vw, 4rem);
  padding: 0 clamp(2rem, 6rem + 1vw, 6rem);
  margin: 0;
}

.header h2 {
  font-size: clamp(1.4rem, 1.5rem + 1vw, 2.4rem);
  font-weight: 400;
  padding: 0 6rem;
  text-align: start;
}

.header h1,
.header h2 {
  color: var(--blanco);
}

@media (min-width: 450px) {
  .header {
    margin-bottom: -9rem;
  }
}

@media (min-width: 768px) {
  .header {
    margin-bottom: -12rem;
  }
  
  .boton-header {
    padding: 2rem 0rem 10rem 6rem;
    width: 50%;
    margin: 0;
  }

  .header h1,
  .header h2 {
    width: 65%;
  }

  .boton-header {
    width: 65%;
  }

  .header-titulos {
    width: 85%;
    margin: 2rem auto;
  }
}

@media (min-width: 992px) {
  .header {
    margin-bottom: -20rem;
  }

  .header h1,
  .header h2 {
    width: 45%;
  }

  .header-titulos {
    width: 85%;
    margin: 2rem auto;
  }
}

@media screen and (max-width: 992px) {
  .header {
    background-position: right;
  }
}


@media (min-width: 500px) {
  .header-titulos {
    margin: 0 auto;
    width: 80%;
  }
}
@media (min-width: 1024px) {
    .menu-hamburguesa {
      display: none;
    }
}
@media (max-width: 1023px) {
  .container-enlaces-nav {
    display: none;
  }
}

.primera-imagen {
  background-image: url(../img/linea\ naranja.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
  z-index: 2;
  width: 90vw;
  height: 90vh;
}

.segunda-imagen {
  background-image: url(../img/segund-imagen.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
  z-index: 2;
  width: 90vw;
  height: 90vh;
}

.mySwiper3 {
  position: absolute;
  bottom:-10rem;
  right: 1rem;
  z-index: 3;
}

.header-titulos h1,
.header-titulos h2, 
.boton-header {
  position: relative;
  z-index: 4;
}

@media (max-width: 767px) {
  .primera-imagen,
  .segunda-imagen {
    bottom: calc(100% - 82vh);
  }

  .header-titulos {
    margin: 0 auto;
    width: 80%;
  }

  .header-titulos h1 {
    margin-bottom: 3rem;
  }

  .header-titulos h1, .header-titulos h2 {
    padding: 0;
    text-align: center;
  }

  .header img {
    padding: 3rem 2rem;
  }

  .boton-header {
    justify-content: center;
  }
}

/* Ecommerce */


/* ! Organigrama */
.organigrama {
  position: relative;
  z-index: 1;
  padding-left: 10px;
  padding-right: 10px;
}
.organigrama .contenedor-cuerpo {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  justify-content: center;
}
.organigrama .cuerpo {
  display: flex;
  align-items: end;
  justify-content: space-around;
  overflow: hidden;
  width: 100%;
}

.organigrama .base {
  display: flex;
  justify-content: center;
}
.organigrama .circulo {
  color: #fff;
  background-color: #6A4829;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: clamp(5px, 0.83vw, 12px);
}
.organigrama .base .circulo {
  width: clamp(280px, 31.25vw, 450px);
  height: clamp(280px, 31.25vw, 450px);
  gap: 0;
  position: relative;
  overflow: hidden;
}

.organigrama .base .contenedor-circulo {
  padding: 20px;
  border-radius: 50%;
  border: 4px dashed var(--negro);
  stroke-dasharray: 30px 20px;
  display: inline-block;
}

.circulo-texto-general {
  font-size: clamp(40px, 4.2vw, 60px);
  transform: translateY(min(-45px, -5.6vw));
}

.circulo-icono-general {
  font-size: clamp(120px, 13.9vw, 200px);
  position: absolute;
  bottom: 0;
}
.organigrama .linea {
  width: 1px;
  display: block;
  border: 3px dashed var(--negro);
}

/* * Nivel 2 */
.organigrama .brazo1, .brazo2, .brazo3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.organigrama .linea2 {
  height: clamp(40px, 9.02vw, 130px);
}
.organigrama .linea1 {
  height: clamp(80px, 22.2vw, 320px);
}

.organigrama .mini-circulo {
  background-color: #6A4829;
  width: clamp(40px, 4.86vw, 70px);
  height: clamp(40px, 4.86vw, 70px);
  border-radius: 50%;
  cursor: pointer;
  margin-top: clamp(8px, 1.04vw, 15px);
  box-shadow: 11px 10px 10px rgba(0, 0, 0, 0.25);
  transition: all .2s ease-in;
}
.organigrama .mini-circulo:hover {
  background-color: #876445;
}
.organigrama .circulo {
  width: clamp(145px, 15.28vw, 220px);
  height: clamp(145px, 15.28vw, 220px);
}

.circulo-texto-n2 {
  font-size: clamp(16px, 1.39vw, 20px);
  padding: 0 10px;
}

/* * Icono */
.circulo-icono-n2 {
  font-size: clamp(25px, 3.81vw, 55px);
}
.circulo-icono-n3 {
  font-size: clamp(25px, 2.43vw, 35px);
}


.organigrama .number {
  font-size: clamp(10px, 2.64vw, 38px);
  font-weight: bold;
}

/* * Nivel 3 */
.organigrama .nivel3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.organigrama .brazo1 .nivel3 .contenedor {
  display: flex;
  gap: 50px;
  align-items: end;
}
.organigrama  .nivel3 .contenedor > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.organigrama .nivel3 .circulo {
  width: clamp(110px, 10.42vw, 150px);
  height: clamp(110px, 10.42vw, 150px);
}
.circulo-texto-n3 {
  font-size: clamp(13px, 1.4vw, 21px);
}


/* * Nivel 4*/
.organigrama .nivel4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.organigrama .nivel4 .contenedor {
  display: flex;
  gap: 20px;
  align-items: end;
}
.organigrama .nivel4 .circulo {
  width: clamp(80px, 16.6vw, 160px);
  height: clamp(80px, 16.6vw, 160px);
}
.circulo-texto-n4 {
  font-size: clamp(10px, 1.35vw, 18px);
  text-align: center;
}
.organigrama .nivel4 .contenedor > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* * brazo 2*/
.organigrama .brazo2 .circulo-texto-n3 {
  padding: 0 5px;
  text-align: center;
}

/* * horizontal */
.organigrama .horizontal {
  height: 1px;
  display: block;
  border: 3px dashed var(--negro);
}
.organigrama .horizontal1 {
  width: 77%;
  transform: translateX(32px);
}
.organigrama .horizontal2 {
  width: 58%;
}
.organigrama .horizontal3 {
  width: 78%;
}

/* *eliminar */
.organigrama .boton1, .organigrama .boton2, .organigrama .boton3, .organigrama .boton4, .organigrama .boton5, 
.organigrama .boton6, .organigrama .boton7, .organigrama .boton8, .organigrama .boton9, .organigrama .boton10 {
  display: none;
}

@media screen and (min-width: 850px) and (max-width: 1390px) {
  .organigrama .horizontal1 {
      width: 76%;
      transform: translateX(30px);
  }
  .organigrama .nivel4 .circulo {
      width: 90px;
      height: 90px;
  }
  .circulo-texto-n4 {
      font-size: 10px;
  }
}

@media screen and (max-width: 850px) {

  .organigrama .cuerpo {
      flex-direction: column;
      align-items: center;
      gap: 75px;
  }

  .organigrama .linea-eliminar {
      display: none;
  }

  .organigrama .base {
      margin-top: 20px;
  }

  .organigrama .number {
      font-size: 25px;
  }

  .organigrama .circulo {
      width: 165px;
      height: 165px;
  }
  .circulo-icono-n2 {
      font-size: 40px;
  }


  .organigrama .nivel3 .circulo {
      width: 140px;
      height: 140px;
  }
  .circulo-icono-n3 {
      font-size: 32px;
  }
}

.mineral {
  filter: drop-shadow(4px 6px 12px var(--negro))
}

.mineral1 {
  position: absolute;
  z-index: 0;
  bottom: 25%;
  right: 20%;
  width: clamp(8rem, 12rem + 3vh, 20rem);
  transform: rotate(135deg);
}

.mineral2 {
  position: absolute;
  z-index: 0;
  left: 20%;
  top: 20%;
  width: clamp(8rem, 12rem + 3vh, 20rem);
  transform: rotate(10deg);
}
/* 
@media (max-width: 767px) {
  .blob3 {
    top: 0;
    bottom: 30rem;
  }
} */

.container-organigrama {
  position: relative;
}

.container-organigrama> h2 {
  position: inherit;
  z-index: 1;
  width: 60%;
  font-size: clamp(2rem, 2rem + 1vw, 3.2rem);
  color: white;
  margin: 0rem auto 2rem auto;
}

/* Separador */
.separador2 {
  margin-top: -2rem;
  margin-bottom: clamp(30px, 3.47vw, 60px);
  height: clamp(100px, 3.47vw,200px);
  background-color: #876445;
  background-image: url(../img/ruido-tierra.png);
  clip-path: polygon(0 72%, 8% 98%, 19% 83%, 33% 71%, 42% 87%, 54% 98%, 61% 76%, 74% 85%, 86% 100%, 91% 83%, 100% 71%, 100% 0, 0 0);
  transform: translateY(10px);
  overflow: visible;
}

.casco-minero {
  position: absolute;
  width: 25rem;
  top: -16rem;
  left: 25%;
}

/* Procesos core */
.container-procesos-core {
  position: relative;
  margin: 0 auto; 
  padding: 5rem 0;
  background-color: white;
}

.container-procesos-core h2 > span {
  color: #ff5c35;
}

.core {
  width: 85%;
  margin: 0 auto;
  color: #2e475d;
  padding: 2rem;
}

.core>p,
.procesos-generales>p {
  font-weight: bold;
  color: var(--colorTerciario);
  text-align: center;
  margin-top: clamp(20px, 1.53vw, 28px);
  /* 22px */
  margin-bottom: clamp(20px, 1.53vw, 28px);
  /*50px*/
}

.core h2 {
  margin: 0 auto;
  font-size: clamp(2rem, 2rem + 1vw, 3.2rem);
}

.core .mySwiper4 {
  padding-bottom: 4rem;
  padding-top: 0;
}

.svg-icon {
  fill: var(--colorTerciario);
  width: 50%;
  max-height: 146px;
  margin: 0 auto;
}

.svg-seguridad {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 146px;
}

.svg-casco {
  position: absolute;
  width: 40%;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

.seguridad {
  position: absolute;
  width: 25%;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -50%);
}

.core-cliente-mineral {
  display: flex;
  justify-content: space-evenly;
}

.core-cliente-mineral .svg-icon {
  flex: 0 0 auto;
  width: 30%;
  max-height: 146px;
  margin: 0;
}

.mySwiper4 .swiper-slide {
  padding-top: 4rem;
  margin: 0 auto;
}

.core .cards-contenedor>div {
  border-radius: clamp(20px, 2.08vw, 32px);
  /* 30px */
  /* border: 2px solid #C2C2C2; */
  
  box-shadow: 0 0 0 0 transparent; /* emulate the border */
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  transition: all .8s;
}

.parrafo-card-core {
  text-align: justify;
  line-height: 1.7;
  padding: 0 2rem;
}

.titulo-card-core {
  text-align: center;
  padding: 2rem 2rem 0 2rem;
}

.core .cards-contenedor>div:hover,
.core .cards-contenedor>div:hover .circulo {
  animation: cambiarColor 0.8s;
  animation-fill-mode: forwards;
  /* transform: scale(1.1); */
}

.core .cards-contenedor .select:hover,
.core .cards-contenedor .select:hover .circulo {
  animation: none;
}

.core .cards-contenedor>div h3 {
  margin: 0;
}

.core .cards-contenedor>.select {
  
  box-shadow: inset 0 0 0 2px #2e475d; /* emulate the border */
  transition: 0.8s all;
}

.core .circulo {
  position: absolute;
  top: 25px;
  right: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border: 2px solid transparent;
  color: white;
}

.core .select .circulo {
  border: none;
  background-color: #ff5c35;
  box-shadow: 1px 1px 7px #000;
  transition: 0.8s all;
}

.core .circulo i {
  opacity: 0;
  font-size: 25px;
}

.core .select .circulo i {
  opacity: 1;
  transition: 0.8s all;
}

.core img {
  align-self: center;
  object-fit: contain;
  height: clamp(90px, 8.33vw, 130px);
  /* 120px */
}

@keyframes cambiarColor {
  0% {
    box-shadow: inset 0 0 0 0 transparent; /* emulate the border */
  }

  100% {
    box-shadow: inset 0 0 0 2px #C2C2C2; /* emulate the border */
  }
}

/* Separador */
.separador3 {
  margin-bottom: -2rem;
  margin-top: clamp(30px, 3.47vw, 60px);
  height: clamp(100px, 3.47vw,200px);
  background-color: var(--colorPrimario);
  border-radius: 100% 100% 0 0;
  overflow: visible;
}

/* ! general */
.general {
  background-color: var(--colorPrimario);
  margin-top: -5rem;
  padding-bottom: 5rem;
}
.general h2 {
  margin-bottom: clamp(40px,4.86vw, 80px); /* 70px */
  color: white;
}
/* iconos */
.general .icono {
  display: flex;
  align-items: center;
}
.general .circulo { 
  width: clamp(30px, 2.78vw, 42px); /* 40px */
  height: clamp(30px, 2.78vw, 42px); /* 40px */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--negro);
  border-radius: 50%;
  cursor: pointer;
}
.general .select {
  background-color: var(--colorPrimario);
  border: 2px solid transparent;
  transition: 0.3s;
}
.general i {
  font-size: clamp(15px, 1.39vw, 22px); /* 20px */
  color: var(--negro);
}
.general .select i {
  color: var(--blanco);
}
.general .sub-menu i {
  color: var(--negro);
}
/* contenedores */
.general .contendor-cards {
  display: flex;
  flex-direction: column;
  gap: clamp(50px, 3.47vw, 60px);
  margin: 0 auto;
  width: 85%;
}
.general .contendor-cards > div {
  background: var(--blanco);
  color: var(--negro);
  border-radius: clamp(20px, 3.47vw, 60px); /* 50px */
  height: 500px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border: none;
  box-shadow: 7px 7px 14px var(--negro);
}
.general .portada {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--blanco);
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 1s all;
  z-index: 3;
  opacity: 1;
}
.general .contendor-cards > div:nth-child(even) .portada  {
  flex-direction: row-reverse;
}
.general .portada h3 {
  position: absolute;
  font-size: 60px;
  padding: 10px;
  z-index: 4;
  color: var(--negro);
  background-color: rgba(255, 255, 255, 0.8);
  font-weight: 900;
  text-align: center;
  border-radius: 10px;
}
.general .contenido h3 {
  margin-bottom: clamp(15px, 0.56vw, 12px); /* 8px */
}
.general .contendor-contenido {
  height: 85%;
  overflow-y: auto;
}
.general .contenido {
  padding: clamp(15px, 1.74vw, 28px) clamp(25px, 2.78vw, 45px); /* 40px */
  display: flex;
  flex-direction: column;
  gap: clamp(13px, 1.18vw, 22px); /* 17px */
  position: relative;
  z-index: 2;
  opacity: 0;
  transition: 1s;
}
.general .despegable > div{
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto; 
  gap: clamp(10px, 1.04vw, 20px); /* 15px */
}
.general .despegable {
  display: flex;
  flex-direction: column;
  padding: clamp(15px, 1.39vw, 25px) 0; /* 20px */
  padding-left: clamp(20px, 2.08vw, 35px); /* 30px */;
  gap: clamp(15px, 1.39vw, 25px); /* 20px */;
}
.general .despegable p {
  align-self: center;
}
.general .sub-menu {
  border-radius: 20px;
  border: 2px solid var(--negro);
  width: 100%;
  height: 57px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  cursor: pointer;
  transition: 0.8s;
}
.general .item {
  height: 57px;
  overflow: hidden;
}
/* Efectos */
.general .active {
  height: auto;
}
.general .active .sub-menu {
  background-color: var(--colorPrimario);
  border: 2px solid transparent;
  color: #fff;
}
.general .sub-menu i {
  transition: 0.5s;
}
.general .active .sub-menu i {
  transform: rotate(180deg);
  color: #fff;
}
.general .despegable p {
  color: var(--negro);
}

/* Fondo */
.general img {
  height: 92%;
  object-fit: contain;
}
.general .cover {
  object-fit: cover;
}

.general svg {
  position: absolute;
}
.general .mancha1 {
  top: -50px;
  left: -50px;
  width: clamp(300px, 31.25vw, 450px);
  animation: girar 20s infinite linear;
}
.general .mancha2 {
  width: clamp(200px, 20.83vw, 300px);
  right: clamp(200px, 27.7vw, 400px);
  animation: girar 10s infinite linear;
}

.general .mancha3 {
  transform: rotate(-90deg);
  width: clamp(200px, 20.83vw, 300px);
  bottom: -200px;
  right: -50px;
  animation: girar2 15s infinite linear;
}

/* * Animaciones */
@keyframes girar {
  0% {
      transform: rotate(0deg);
  }
  100%{
      transform: rotate(360deg);
  }
}

@keyframes girar2 {
  0% {
      transform: rotate(-90deg);
  }
  100%{
      transform: rotate(-450deg);
  }
}

/* scroll */
.general .contendor-contenido::-webkit-scrollbar {
  width: 10px;
  background: transparent;
  overflow: hidden;
}
.general .contendor-contenido::-webkit-scrollbar-thumb {
  background: var(--colorPrimario);
  border-radius: 8px;
}

/* etiquetas */
.contenedor-etiquetas {
  display: flex;
  align-items: center;
  gap: 15px;
  grid-column: 2 / 3;
}
.etiqueta {
  height: clamp(30px, 3.47vw, 50px);
  width: clamp(80px, 8.33vw, 120px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 80px;
}
.general .etiqueta p {
  color: #fff;
  font-weight: 800;
}
.etiqueta p {
  color: #fff;
  font-weight: 800;
}
.etiqueta i {
  color: #fff;
}
.rpa {
  background: linear-gradient(90deg, rgba(57,155,226,1) 40%, rgba(97,210,219,1) 70%, rgba(187,237,239,1) 93%);
}
.ia {
  background: linear-gradient(90deg, rgba(254,163,119,1) 0%, rgba(255,99,96,1) 80%);
  width: clamp(65px, 6.44vw, 100px);
}
.rpa .e2 {
  display: none;
}
.ia .e1 {
  display: none;
}


@media (max-width: 767px) {    /* ! general */
      /* ! general */
      .general .portada, .general .contendor-cards > div:nth-child(even) .portada {
        flex-direction: column;
        padding: 60px;
    }
    .general .portada h3 {
        font-size: var(--h1-size-res);
    }
    .general .mancha1 {
        top: -180px;
    }
}


/* ! Mensajes */
.mensaje {
  position: fixed;
  top: 50px;
  right: 50px;
  width: 300px;
  border-radius: 25px;
  box-shadow: 3px 3px 20px var(--negro);
  z-index: 10;
  display: none;
  opacity: 0;
}

.mensaje .colum1 {
  color: var(--blanco);
  padding: 25px 20px;
  text-align: center;
  border-radius: 25px 25px 0 0;
}

.mensaje i {
  font-size: var(--h2-size);
  margin-bottom: 10px;
}

.mensaje .colum2 {
  background-color: var(--blanco);
  padding: 25px 20px;
  border-radius: 0 0 25px 25px;
}

.mensaje .colum2>div {
  display: flex;
  justify-content: center;
}

.mensaje a {
  display: inline-block;
  border-radius: 50px;
  padding: 10px 20px;
  margin-top: 20px;
}

.agregar {
  background-color: #14A44D;
}

.agregar a {
  color: #14A44D;
  border: 2px solid #14A44D;
}

.eliminar {
  background-color: #d60000;
}

.eliminar a {
  color: #d60000;
  border: 2px solid #d60000;
}

.active3 {
  display: block;
  animation: aparecer 3s;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


/* etiquetas */
.contenedor-etiquetas {
  display: flex;
  align-items: center;
  gap: 15px;
  grid-column: 2 / 3;
}

.etiqueta {
  height: clamp(30px, 3.47vw, 50px);
  width: clamp(80px, 8.33vw, 120px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 80px;
}

.general .etiqueta p {
  color: #fff;
  font-weight: 800;
}

.etiqueta p {
  color: #fff;
  font-weight: 800;
}

.etiqueta i {
  color: #fff;
}

.rpa {
  background: linear-gradient(90deg, rgba(57, 155, 226, 1) 40%, rgba(97, 210, 219, 1) 70%, rgba(187, 237, 239, 1) 93%);
}

.ia {
  background: linear-gradient(90deg, rgba(254, 163, 119, 1) 0%, rgba(255, 99, 96, 1) 80%);
  width: clamp(65px, 6.44vw, 100px);
}

.rpa .e2 {
  display: none;
}

.ia .e1 {
  display: none;
}

/* Container información */
.separador {
  position: relative;
  background-image: url(../img/montana\ de\ arena.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.container-informacion {
  position: relative;
  height: 100vh;
  width: 100%;
  padding-top: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.titulo-informacion {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  font-size: clamp(2rem, 2rem + 1vw, 3.2rem);
  margin: 0 auto;
}

.parrafo-informacion {
  position: relative;
  z-index: 1;
  width: 75%;
  color: white;
  font-size: clamp(1.4rem, 1.4rem + 1vw, 1.8rem);
  text-align: center;
  margin: 2rem auto;
}

.informacion-video {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
}

.informacion-video img {
  margin: 0 auto;
  height: 50vh;
  width: 60vw;
}

/* Separador */
.separador4 {
  margin-top: -2rem;
  margin-bottom: clamp(30px, 3.47vw, 60px);
  height: clamp(100px, 3.47vw,200px);
  background-color: var(--colorPrimario);
  border-radius: 100% 100% 0 0;
  transform: scaleY(-1);
  overflow: visible;
}

/* Casos de estudio */
.container-casos-estudio {
  position: relative;
  background: white;
  padding: 2rem 0 3rem 0;
  width: 100%;
  margin: 0 auto;
}

.container-casos-estudio h2 {
  position: relative;
  z-index: 1;
}

.casos-estudio {
  position: relative;
  z-index: 1;
  width: 85%;
  margin: 0 auto;
}

.caso-estudio>h3 {
  text-decoration: underline;
  font-weight: bold;
  margin: 7rem auto;
  width: 80%;
}

.descripcion-caso {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--colorPrimario);
  border-radius: 2rem;
  padding: 100% auto;
  margin: 2rem;
  padding: .5rem 0;
  flex-basis: calc(50%-2rem);
  transition: all 0.5s ease-in-out;
  box-shadow: 11px 20px 20px rgba(0, 0, 0, 0.25);
}

.descripcion-caso h3 {
  text-align: center;
}

.descripcion-caso:hover,
.datos-caso:hover {
  transform: scale(1.05);
}

.descripcion-caso img {
  width: 50%;
  height: 50%;
  margin: 0 auto;
}

.descripcion-caso p {
  margin: 3rem;
  text-align: justify;
  font-size: clamp(1.2rem, 1.2rem + 1vw, 2rem);
}

.datos-caso h3 {
  margin: 2rem auto;
  background: linear-gradient(to right, #ff944c, #ff7f3f, #ff6a32, #ff5f2c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding: 0 1rem;
  font-size: clamp(4rem, 4rem + 1vw, 6rem);
  text-align: center;
  align-self: end;
}

.caso-estudio:first-of-type .datos-caso h3 {
  font-size: clamp(7rem, 7rem + 1vw, 9rem);
}

.datos-caso {
  transition: all 0.5s ease-in-out;
  color: white;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  margin: 1rem;
}

.datos-caso p {
  line-height: 1.4;
  font-size: clamp(1.8rem, 2rem + 1vw, 2.5rem);
  text-align: center;
  align-self: start;
  margin: 0 2rem;
  color: var(--colorTerciario);
  font-weight: 700;
}

@media (min-width: 992px) {
  .caso-estudio-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    column-gap: 5rem;
    grid-auto-rows: minmax(200px, auto);
  }

  .garpenberg .caso-estudio-grid {
    grid-template-columns: 1fr 1fr 2fr;
  }

  .garpenberg .descripcion-caso {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
  }
}

@media (max-width: 991px) {
  .datos-caso {
    height: clamp(25rem, 25rem + 1vw, 35rem);
  }
}

/* Separador */
.separador5 {
  margin-top: 3rem;
  margin-bottom: -1px;
  height: clamp(100px, 3.47vw,200px);
  background-color: var(--colorPrimario);
  clip-path: polygon(0 100%, 100% 100%, 100% 0);
  overflow: visible;
}

/* Solucion Cloudshore */
.solucion-cloudshore-container {
  background: #ff5f2c;
  color: white;
}

.solucion-cloudshore {
  width: 85%;
  padding: 3rem 0;
  margin: 0 auto;
}

.solucion-cloudshore-aux {
  width: 90%;
  margin: 0 auto;
}

.descripcion-cloudshore {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 6rem 0;
}

.descripcion-cloudshore img {
  margin: 0 0 6rem 0;
}

@media (min-width: 992px) {
  .descripcion-cloudshore {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .descripcion-cloudshore img {
    margin: 0;
  }

  .descripcion-caracteristicas p {
    margin: .5rem auto;
  }
}

.descripcion-caracteristicas p {
  font-size: clamp(1.2rem, 1.2rem + 1vw, 1.8rem);
}

.descripcion-caracteristicas {
  margin: 2rem;
}

.solucion-cloudshore>h2 {
  margin: 10rem 0;
  font-size: clamp(3rem, 3rem + 1vw, 5rem);
}


.caracteristica-cloudshore {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.caracteristica-cloudshore p {
  width: 80%;
}

.caracteristica-cloudshore img {
  margin: 0 0 2rem 0;
  height: clamp(7rem, 8rem + 1vw, 10rem);
}

.caracteristica-cloudshore h3 {
  width: 85%;
  height: clamp(7rem, 7rem + 1vw, 9rem);
  font-size: clamp(2rem, 2rem + 1vw, 3rem);
}

.caracteristica-cloudshore p {
  font-size: clamp(1rem, 1rem + 1vw, 1.8rem);
  text-align: justify;
}

.caracteristica-cloudshore img {
  width: 60% !important;
  height: auto !important;
}

.caracteristicas-cloudshore .swiper-slide {
  padding: 2rem 0;
}

@media (min-width: 1024px) {
  .caracteristicas-cloudshore .swiper-slide-next:first-of-type {
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
  }
}

.mySwiper2 {
  margin-bottom: 5rem;
  border-radius: 3rem;
  color: var(--colorTerciario);
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 10px 10px 24px -8px rgba(0,0,0,0.75);
  /* color: white;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.25) 0%, rgba(128, 128, 128, 0) 18%, rgba(147, 147, 147, 0) 51.56%, rgba(43, 43, 43, 0) 82%, rgba(0, 0, 0, 0.33) 100%, rgba(0, 0, 0, 0.25) 100%); */
}

.swiper {
  padding: 4rem 0;
}

.mySwiper2 .swiper-slide-active {
  transition: all 0.5s ease-in-out;
  transform: scale(1.1);
}

.mySwiper2 .swiper-button-next,
.mySwiper2 .swiper-button-prev {
  color: var(--colorTerciario);
}

.separador6 {
  margin-top: -1px;
  height: clamp(100px, 3.47vw,200px);
  background-color: var(--colorPrimario);
  clip-path: polygon(0 0, 100% 0, 0 100%);
  box-shadow: 10px 10px 24px -8px rgba(0,0,0,0.75);
}

/* Ofrece Dignita */
.container-dignita-ofrece {
  position: relative;
  background: white;
  padding: 2rem 0;
}

.dignita-ofrece {
  position: relative;
  z-index: 1;
  margin: 10rem auto 0 auto;
  width: 80%;
}

.dignita-ofrece h2 {
  margin: 4rem 0;
}

.ofrece-lista {
  position: relative;
  margin: 0 auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.ofrece-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  width: clamp(25rem, 25rem + 1vw, 35rem);
  transition: all 0.3s ease;
  height: clamp(25rem, 25rem + 1vw, 35rem);
}

.ofrece-item h3 {
  margin: 0 auto;
  text-align: center;
  font-size: clamp(2rem, 2rem + 1vw, 2.5rem);
  transition: all 0.5s ease;
}

@media (min-width: 992px) {
  .ofrece-item {
    position: absolute;
  }

  .ofrece-lista {
    margin: 0 auto;
    width: 80%;
    position: relative;
    height: 70vh;
  }

  .item1 {
    top: 50%;
    left: 0;
    animation: rotar1 15s;
    animation-iteration-count: infinite;
  }

  .item2 {
    top: calc(1vh - 10px);
    left: calc(50vw - 42%);
    animation: rotar2 15s;
    animation-iteration-count: infinite;
  }

  .item3 {
    top: 50%;
    left: calc(100% - 27rem);
    animation: rotar3 15s;
    animation-iteration-count: infinite;
  }

  @keyframes rotar1 {
    0% {
      transform: scale(1);
      top: 50%;
      left: 0;
    }

    15% {
      transform: scale(1.3);
      top: calc(1vh - 10px);
      left: calc(50vw - 42%);
    }

    33% {
      transform: scale(1.3);
      top: calc(1vh - 10px);
      left: calc(50vw - 42%);
    }

    48% {
      top: 50%;
      transform: scale(1);
      left: calc(100% - 27rem);
    }

    66% {
      top: 50%;
      transform: scale(1);
      left: calc(100% - 27rem);
    }

    81% {
      transform: scale(1);
      top: 50%;
      left: 0;
    }

    100% {
      transform: scale(1);
      top: 50%;
      left: 0;
    }
  }

  @keyframes rotar2 {
    0% {
      transform: scale(1.3);
      top: calc(1vh - 10px);
      left: calc(50vw - 42%);
    }

    15% {
      transform: scale(1);
      top: 50%;
      left: calc(100% - 27rem);
    }

    33% {
      transform: scale(1);
      top: 50%;
      left: calc(100% - 27rem);
    }

    48% {
      transform: scale(1);
      top: 50%;
      left: 0;
    }

    66% {
      transform: scale(1);
      top: 50%;
      left: 0;
    }

    81% {
      transform: scale(1.3);
      top: calc(1vh - 10px);
      left: calc(50vw - 42%);
    }

    100% {
      transform: scale(1.3);
      top: calc(1vh - 10px);
      left: calc(50vw - 42%);
    }
  }

  @keyframes rotar3 {
    0% {
      transform: scale(1);
      top: 50%;
      left: calc(100% - 27rem);
    }

    15% {
      transform: scale(1);
      top: 50%;
      left: 50px;
    }

    33% {
      transform: scale(1);
      top: 50%;
      left: 50px;
    }

    48% {
      transform: scale(1.3);
      top: calc(1vh - 10px);
      left: calc(50vw - 42%);
    }

    66% {
      transform: scale(1.3);
      top: calc(1vh - 10px);
      left: calc(50vw - 42%);
    }

    81% {
      transform: scale(1);
      top: 50%;
      left: calc(100% - 27rem);
    }

    100% {
      top: 50%;
      left: calc(100% - 27rem);
      transform: scale(1);
    }
  }
}

.caracteristica-dignita {
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

.caracteristica-dignita img {
  size: 50%;
}

@media (min-width: 992px) {
  .caracteristica-dignita {
    border-radius: 1.5rem;
    width: 90%;
    transition: all 0.3s ease-in-out;
  }
}

.caracteristica-dignita img {
  margin: auto;
}

.texto-caracteristica-dignita {
  margin: 0 1rem;
}

.texto-caracteristica-dignita p {
  font-size: clamp(1.6rem, 1.4rem + 1vw, 2.2rem);
  padding: 0 3rem;
  text-align: justify;
}

.texto-caracteristica-dignita h3 {
  font-size: clamp(1.8rem, 2rem + 1vw, 2.2rem);
}

/* Separador */
.separador7 {
  position: relative;
  margin-bottom: -2rem;
}

.pico-mineria {
  position: absolute;
  width: clamp(10rem, 20vw, 20rem);
  top: 15%;
  right: 15%;
}

/* How */
/* empezar-terminar */
.container-how {
  background: var(--colorPrimario);
  padding: 4rem;
}

.empezar-terminar {
  width: 85%;
  padding-bottom: 3rem;
  margin: 0 auto;
  color: var(--blanco);
}

.empezar-terminar h2 {
  margin-bottom: clamp(35px, 3.47vw, 60px);
  /* 50px */
}

/* contenido */
.empezar-terminar .contenido {
  overflow: hidden;
}

.empezar-terminar .contenido>div {
  height: auto;
  display: flex;
  width: 400%;
  transition: 0.8s;
}

.empezar-terminar .contenido div>div {
  width: 100%;
}

.empezar-terminar p {
  text-align: center;
}

.empezar-terminar .contenido h3,
.empezar-terminar .contenido img,
.empezar-terminar .barra-res {
  display: none;
  text-align: center;
}

/* iconos */
.empezar-terminar .iconos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 60px;
}

.empezar-terminar .iconos>div {
  display: grid;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.empezar-terminar .iconos h3 {
  text-align: center;
  margin-top: 15px;
}

.empezar-terminar img {
  filter: grayscale(100%);
}

.empezar-terminar .iconos>div:first-child img {
  filter: grayscale(0%);
}

.empezar-terminar .barra {
  width: 100%;
  height: 35px;
  background-color: #fff;
  border-radius: 30px;
  overflow: hidden;
  margin-top: 40px;
}

.empezar-terminar .progreso {
  background: var(--colorTerciario);
  border-radius: 30px;
  transition: 0.8s;
  width: 25%;
  height: 100%;
}

@media screen and (max-width: 767px) {

  /* empezar-terminar */
  .empezar-terminar .iconos,
  .empezar-terminar .barra {
    display: none;
  }

  .empezar-terminar .contenido div>div {
    padding: 25px 30px;
    padding-top: 38px;
    border-radius: 20px;
    border: 2px solid var(--colorSecunadrio);
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    z-index: 1;
  }

  .empezar-terminar .contenido div>div img {
    height: 100px;
    width: 100%;
    object-fit: contain;
  }

  .empezar-terminar img {
    filter: grayscale(0%);
  }

  .empezar-terminar .contenido h3,
  .empezar-terminar .contenido img {
    display: inline-block;
  }

  .empezar-terminar .barra-res {
    display: grid;
    width: 100%;
    border-radius: 20px;
    border: 2px solid var(--colorSecunadrio);
    grid-template-columns: repeat(4, 1fr);
    overflow: hidden;
    position: relative;
    bottom: -25px;
    z-index: 2;
    background-color: var(--colorSecunadrio);
  }

  .empezar-terminar .barra-res>div>div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: var(--colorSecunadrio);
    border-radius: 20px;
    font-size: var(--h3-size-res);
  }

  .empezar-terminar .barra-res>div>div:not(.empezar-terminar .barra-res > div:last-child > div) {
    border-right: 2px solid var(--colorTerciario);
  }

  .empezar-terminar .barra-res>div:first-child>div {
    background-color: var(--colorPrimario);
  }

  .empezar-terminar .barra-res>div {
    background-color: var(--colorSecunadrio);
  }
}

/* Separador */
.separador8 {
  margin-top: -2rem;
}

/* Nuestras Mejoras */
.nuestras-mejoras {
  width: 85%;
  position: relative;
  margin: 0 10rem 10rem 10rem;
  margin: 0 auto;
}

.nuestras-mejoras h3 {
  font-size: clamp(1.7rem, 1.8rem + 1vw, 2.2rem);
  text-align: center;
  margin: 0rem auto;
}

.nuestras-mejoras h2 {
  font-size: clamp(5rem, 5rem + 2vw, 8rem);
  margin: 1.6rem auto;
  padding-top: 5rem;
  margin-top: 0;
}

.mejora {
  color: var(--blanco);
  background: var(--colorSecunadrio);
  border-radius: 68px;
  padding: 3rem;
  margin: 4rem 0;
  box-shadow: 11px 16px 20px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
}

.mejora:hover {
  transform: scale(1.08);
}

.mejora-titulo h3 {
  padding-bottom: 2rem;
  text-align: start;
  margin-top: clamp(3rem, 3.5rem + 1vw, 5rem);
}

.mejora-titulo h3::after {
  content: "";
  display: block;
  margin-top: 2rem;
  width: 35%;
  height: 4px;
  background: #fff;
}

.mejora-imagen {
  height: clamp(21rem, 21rem + 1vw, 23rem);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.vector-1 {
  padding: 5rem 0;
  position: absolute;
  background-image: url(../img/Vector\ 3.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
  z-index: 0;
  width: 65%;
  height: 75%;
}

.vector-2 {
  position: absolute;
  background-image: url(../img/Vector\ 4.png);
  background-repeat: no-repeat;
  background-size: auto;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-position: right bottom;
}

.vector-3 {
  position: absolute;
  background-image: url(../img/Vector\ 6.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
  width: 100%;
  height: 60%;
  background-position: left top;
}

.vector-4 {
  bottom: 5rem;
  position: absolute;
  background-image: url(../img/Vector\ 7.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
  height: 50%;
  width: 100%;
  background-position: right bottom;
  background-origin: content-box;
}

.vector-7 {
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(../img/Vector\ 11.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
  width: 60%;
  height: 60%;
  background-position: left bottom;
}

.mejoras {
  padding: 3rem 0;
}

@media (min-width: 992px) {
  .mejoras {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .mejora-titulo {
    height: clamp(5rem, 5rem + 1vw, 7rem);
    margin: clamp(1rem, 1rem + 1vw, 2rem) 0;
    margin-bottom: 4rem;
  }

  .mejora {
    margin: 5rem;
  }

  .mejora:nth-child(n+3) {
    margin-bottom: 9rem;
    margin-top: 8rem;
  }
}

/* Otras industrias */
.otras-industrias {
  padding: 0 0rem 10rem 0rem;
}

.otras-industrias h2 {
  position: relative;
  z-index: 2;
  color: white;
}

.swiper {
  width: 100%;
  height: 100%;
}

.blog-industria {
  box-shadow: 11px 16px 20px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
}

.mySwiper2 .swiper-wrapper .swiper-slide {
  width: 90%;
}

.mySwiper {
  width: 80%;
}

/* .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.container-final {
  position: relative;
  z-index: 3;
  background: var(--blanco);
}

.titulo-ecommerce {
  position: relative;
  z-index: 1;
  margin: 6rem auto 2rem auto;
  color: white;
  font-size: clamp(2rem, 2rem + 1vw, 3.2rem);
}

.elemento-ecommerce {
  height: clamp(40rem, 40rem + 1vw, 60rem);
  background-color: #EDDFB3;
  transition: all .5s ease;
  border-radius: 3rem;
}

.elemento-ecommerce:hover {
  transform: scale(1.1);
}

.container-ecommerce {
  margin-top: 14rem;
}

.blog-industria {
  border-radius: 3rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imagen-blog img {
  margin: 3rem;
}

.imagen-blog img {
  margin: 3rem auto;
}

.titulo-blog h3 {
  margin-bottom: 0;
  margin-top: 0;
}

.texto-blog {
  padding: 0 3rem;
  text-align: justify;
}

.enlace-blog {
  font-size: clamp(1.6rem, 1.6rem + 1vw, 2.2rem);
  text-align: start;
}

.container-enlace {
  width: 80%;
  padding-bottom: 2rem;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {

  /* Core */
  .core .circulo,
  .core .cards-contenedor>div {
    box-shadow: inset 0 0 0 2px #C2C2C2; /* emulate the border */
  }

  .core .cards-contenedor>div:hover,
  .core .cards-contenedor>div:hover .circulo {
    animation: none;
  }
}

@media screen and (max-width: 767px) {

  /* Core */
  .core .circulo,
  .core .cards-contenedor>div {
    /* border: 2px solid #C2C2C2; */
    
    box-shadow: inset 0 0 0 2px #C2C2C2; /* emulate the border */
  }

  .core .cards-contenedor>div:hover,
  .core .cards-contenedor>div:hover .circulo {
    animation: none;
  }
}

.c,
.particles-js-canvas-el {
  margin-top: 5rem;
  position: absolute;
  top: 15rem;
  left: 0;
  width: 100%;
  height: 100%;
  bottom: 0;
  z-index: 0;
}

/* Formulario */
.formulario {
  margin: 0 auto;
  width: 85%;
  position: relative;
  z-index: 1;
  margin-bottom: 10rem;
}

.formulario h2 {
  margin-bottom: clamp(40px, 4.17vw, 75px);
  color: var(--colorPrimario);
}

.formulario>div {
  display: flex;
  justify-content: center;
}

.formulario h3 {
  text-align: center;
}

.formulario .columna1,
.formulario .columna2 {
  width: clamp(420px, 50%, 650px);
}

.formulario .columna1 {
  background-color: var(--negro);
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: clamp(40px, 4.86vw, 75px) clamp(30px, 4.51vw, 70px) clamp(42px, 6.25vw, 95px) clamp(30px, 4.51vw, 70px);
  border-radius: clamp(15px, 1.74vw, 28px) 0 0 clamp(15px, 1.74vw, 28px);
  /* 25px */
}

.formulario .input-contenedor {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: clamp(22px, 2.08vw, 35px);
  /* 30px */
  width: 100%;
}

.formulario input,
.formulario button {
  width: 100%;
  padding: 12px clamp(15px, 1.74vw, 30px);
  /* 25px */
  border-radius: 10px;
  border: none;
}

.formulario .columna1 p {
  font: clamp(14px, 14px + 1vw, 20px);
  margin-top: clamp(20px, 2.43vw, 40px);
  /* 35px */
  margin-bottom: clamp(30px, 3.125vw, 50px);
  /* 45px */
  height: auto;
}

.formulario input:focus {
  outline: none;
  border-left: clamp(5px, 0.49vw, 8px) solid var(--colorPrimario);
  /* 7px */
}

.formulario .columna2 {
  width: 50%;
  padding: clamp(40px, 4.86vw, 75px) clamp(30px, 4.51vw, 70px) clamp(42px, 6.25vw, 95px) clamp(30px, 4.51vw, 70px);
  background-color: #595959;
  border-radius: 0 clamp(15px, 1.74vw, 28px) clamp(15px, 1.74vw, 28px) 0;
  /* 25px */
  color: var(--blanco);
}

.formulario .columna2 h3 {
  margin-bottom: clamp(20px, 2.43vw, 40px);
}

.formulario .procesos {
  display: flex;
  flex-direction: column;
  gap: clamp(20px, 1.74vw, 30px);
}

.formulario .procesos>div {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
  padding: clamp(15px, 1.39vw, 25px);
  border-radius: 20px;
  border: 2px solid var(--blanco);
}

.formulario .procesos-contenedor {
  height: clamp(500px, 38.19vw, 650px);
  overflow-y: auto;
}

/* Efecto del boton*/
.formulario button {
  background-color: var(--colorPrimario);
  color: #fff;
  padding: 17px 25px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.formulario span {
  position: relative;
  z-index: 2;
}

.formulario button .circulo {
  width: 1px;
  height: 1px;
  background: none;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transition: 0.6s ease-in-out all;
  border-radius: 100px;
  transform-origin: center;
}

.formulario button:hover .circulo {
  transform: scale(600);
  background: #f5d7aa;
}

.formulario button:hover {
  color: var(--colorSecunadrio);
  transition: all 0.3s ease-in-out;
}

@media (max-width: 767px) {

  /* Formulario */
  .formulario>div {
    flex-direction: column;
    align-items: center;
  }

  .formulario .columna1,
  .formulario .columna2 {
    width: min(100%, 420px);
  }

  .formulario .columna1 {
    border-radius: 25px 25px 0 0;
  }

  .formulario .columna2 {
    border-radius: 0 0 25px 25px;
  }

  .formulario img {
    width: 100%;
  }

  .casos .numero {
    font-size: var(--h1-size-res);
  }

  .casos .texto {
    font-size: var(--h2-size-res);
  }

  .casos .texto2 {
    font-size: var(--h2-size-res);
  }

  .casos .sub-titulo {
    font-size: var(--h2-size-res);
  }

  /* ! mensajes */
  .mensaje {
    top: 10px;
    right: 30px;
  }
}