:root {
    --fuentePrincipal: 'Poppins', sans-serif;

    --primario: #FA360A;
    --blanco: #ffffff;
    --negro: #000000;
    --gris: #e1e1e1;

    --colorPrimario: #CA955C;
    --colorSecunadrio: #876445;
    --colorTerciario: #EDDFB3;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 2;
}

/* Globales */
img {
    max-width: 90%;
}

.container {
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: var(--fuenteHeading);
    line-height: 1.2;
}

h1 {
    font-size: clamp(3.5rem, 3.5rem + 1vw, 5.5rem);
}

h2 {
    font-size: clamp(2rem, 2rem + 1vw, 3.2rem);
    text-align: center;
}

h3 {
    font-size: clamp(1.8rem, 2rem + 1vw, 2.5rem);
}

p {
    font-size: clamp(1.6rem, 1.2rem + 1vw, 2.2rem);
}

/* Header */
.primer-color {
    background: linear-gradient(180deg, #150706 30%, #876445 100%);
}

.header img {
    padding: 5rem;
}

.header {
    background-image: url(../img/hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom right;
    width: 100%;
    height: 100vh;
    margin-bottom: -6rem;
}

@media (min-width: 450px) {
    .header {
        margin-bottom: -8rem;
    }
}

@media (min-width: 768px) {
    .header {
        margin-bottom: -10rem;
    }
}

@media (min-width: 992px) {
    .header {
        margin-bottom: -14rem;
    }
}

.boton-header {
    margin: 0;
    padding: 10rem 6rem 10rem 6rem;
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {
    .boton-header {
        display: block;
    }
}

.boton-header a {
    border-radius: 2rem;
    padding: 1rem 6rem;
    color: white;
    background-color: #903400;
    margin: 0 auto;
    font-size: clamp(1.4rem, 1.5rem + 1vw, 2.8rem);
    transition: all .3s ease;
    margin: 0 auto;
}

.boton-header a:hover {
    background-color: white;
    color: #903400;
}

.header h1 {
    font-size: clamp(3rem, 3rem + 1vw, 4rem);
    padding: 0 clamp(2rem, 6rem + 1vw, 6rem);
    margin: 0;
}

.header h2 {
    font-size: clamp(1.4rem, 1.5rem + 1vw, 2.4rem);
    font-weight: 400;
    padding: 0 6rem;
    text-align: start;
}

.header h1,
.header h2 {
    color: var(--blanco);
}

@media screen and (max-width: 992px) {
    .header {
        background-position: right;
    }
}

@media (min-width: 768px) {
    .boton-header {
        padding: 2rem 6rem 10rem 6rem;
    }

    .header h1,
    .header h2 {
        width: 65%;
    }

    .header-titulos {
        width: 70%;
        margin: 2rem auto;
    }

}

@media (min-width: 500) {


    .header-titulos {
        margin: 0 auto;
        width: 80%;
    }
}

/* Ecommerce */


/* Organigrama */
.container-organigrama {
    position: relative;
    margin-top: -60rem;
}

.blob1 {
    position: absolute;
    z-index: 0;
    top: 80rem;
    left: -5rem;
    width: clamp(12rem, 18rem + 8vh, 40rem);
}

.blob2 {
    position: absolute;
    z-index: 0;
    top: 45rem;
    right: -80%;
    width: clamp(12rem, 15rem + 1vh, 30rem);
}

.blob3 {
    position: absolute;
    z-index: 0;
    top: 80rem;
    right: -80%;
    width: clamp(12rem, 20rem + 15vh, 50rem);
}

.container-organigrama h2 {
    position: inherit;
    z-index: 1;
    width: 60%;
    font-size: clamp(2rem, 2rem + 1vw, 3.2rem);
    color: white;
    margin: 0rem auto -2rem auto;
}

.organigrama {
    display: flex;
    justify-content: center;
    position: inherit;
    margin: 0 auto;
    padding: 2rem;
    z-index: 1;
}

.organigrama img {
    margin: 0 auto;
}

/* Procesos core */
.container-procesos {
    padding: 10rem 0;
    background: linear-gradient(180deg, #876445 0%, #DECDA3 100%);
}

.core {
    width: 85%;
    margin: 0 auto;
    color: #fff;
    padding: 5rem;
}

.core>p,
.procesos-generales>p {
    color: white;
    text-align: center;
    margin-top: clamp(20px, 1.53vw, 28px);
    /* 22px */
    margin-bottom: clamp(35px, 3.47vw, 65px);
    /*50px*/
}

.core h2 {
    width: 80%;
    margin: 0 auto;
    font-size: clamp(2rem, 2rem + 1vw, 3.2rem);
}

.core .cards-contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: clamp(40px, 5.21vw, 85px);
    /* 75px */
}

.core .cards-contenedor>div {
    width: 450px;
    padding: clamp(30px, 2.78vw, 43px) clamp(20px, 1.74vw, 28px);
    border-radius: clamp(20px, 2.08vw, 32px);
    /* 30px */
    border: 2px solid transparent;
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    transition: all .8s;
}

.core .cards-contenedor>div:hover,
.core .cards-contenedor>div:hover .circulo {
    animation: cambiarColor 0.8s;
    animation-fill-mode: forwards;
    transform: scale(1.1);
}

.core .cards-contenedor .select:hover,
.core .cards-contenedor .select:hover .circulo {
    animation: none;
}

.core .cards-contenedor>div h3 {
    margin-top: 30px;
    margin-bottom: 20px;
}

.core .cards-contenedor>.select {
    border: 2px solid white;
    transition: 0.8s all;
}

.core .circulo {
    position: absolute;
    top: 25px;
    right: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border: 2px solid transparent;
}

.core .select .circulo {
    border: none;
    background-color: var(--azul);
    box-shadow: 1px 1px 7px #000;
    transition: 0.8s all;
}

.core .circulo i {
    opacity: 0;
    font-size: 25px;
}

.core .select .circulo i {
    opacity: 1;
    transition: 0.8s all;
}

.core img {
    align-self: center;
    object-fit: contain;
    height: clamp(90px, 8.33vw, 130px);
    /* 120px */
}

@keyframes cambiarColor {
    0% {
        border: 2px solid transparent;
    }

    100% {
        border: 2px solid #C2C2C2;
    }
}

/* Procesos generales */
/* .procesos-generales {
    margin: 8rem auto;
    width: 90%;
}

.lista-procesos-generales h3 {
    color: white;
}

.lista-procesos-generales {
    border-radius: 5rem;
    margin: 5rem auto;
    background-color: #B2AC97;
    width: 80%;
    height: clamp(35rem, 35vw, 60rem);
}

.lista-procesos-generales h3 {
    padding: 4rem;
}

.finanzas {
    background-image: url(../img/pilas\ de\ dinero.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
}

.marketing {
    background-image: url(../img/marketing.png);
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: bottom;
}

.logistica {
    background-image: url(../img/logistica.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
} */

.general {
    width: 85%;
    margin: 0 auto;
}

.general h2 {
    color: white;
    font-size: clamp(2rem, 2rem + 1vw, 3.2rem);
    /* 70px */
}

/* iconos */
.general .circulo {
    width: clamp(30px, 2.78vw, 42px);
    /* 40px */
    height: clamp(30px, 2.78vw, 42px);
    /* 40px */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}

.general .active {
    background-color: var(--azul);
    border: 2px solid transparent;
}

.general i {
    font-size: clamp(15px, 1.39vw, 22px);
    /* 20px */
}

/* contenedores */
.general .contenedor-cards {
    display: flex;
    flex-direction: column;
    gap: clamp(20px, 3.47vw, 60px);
}

.general .contenedor-cards>div {
    background: linear-gradient(180deg, #876445 0%, #F5D4A2 100%);
    color: #fff;
    border-radius: clamp(20px, 3.47vw, 60px);
    /* 50px */
    height: 500px;
    overflow: hidden;
    position: relative;
}

.card {
    width: clamp(80%, 88%, 90%);
    margin: 0 auto;
}

.general .portada {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #876445 0%, #F5D4A2 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s all;
    z-index: 3;
    opacity: 1;
}

.general .portada h3 {
    font-size: clamp(2.5rem, 2.5rem + 1vh, 3.5rem);
    padding-bottom: 40px;
}

.general img {
    position: absolute;
    bottom: clamp(15px, 1.39vw, 22px);
    /*20px */
    object-fit: contain;
    height: clamp(100px, 27.08vw, 400px);
    /* 390px */
}

.general img:nth-child(odd) {
    left: clamp(10px, 3.47vw, 55px);
    /* 50px */
    transform: rotateY(180deg);
}

.general img:nth-child(even) {
    right: clamp(10px, 3.47vw, 55px);
    /* 50px */
}

.general .contenido {
    padding: clamp(15px, 1.74vw, 30px);
    /* 25px */
    display: flex;
    flex-direction: column;
    gap: clamp(15px, 2.43vw, 38px);
    /* 35px */
    height: 100%;
    overflow-y: auto;
    position: relative;
    z-index: 2;
    opacity: 0;
    transition: 1s;
}

.general .contenido>div {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: clamp(15px, 1.74vw, 30px);
    /* 25px */
}

/* scroll */
.general .contenido::-webkit-scrollbar {
    width: 10px;
    background: transparent;
    overflow: hidden;
}

.general .contenido::-webkit-scrollbar-thumb {
    background: var(--azul);
    border-radius: 8px;
}


/* Container información */
.separador {
    position: relative;
    background-image: url(../img/montana\ de\ arena.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.container-informacion {
    position: relative;
    height: 100vh;
    width: 100%;
    padding-top: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.titulo-informacion {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    font-size: clamp(2rem, 2rem + 1vw, 3.2rem);
    margin: 0 auto;
}

.parrafo-informacion {
    position: relative;
    z-index: 1;
    width: 75%;
    color: white;
    font-size: clamp(1.4rem, 1.4rem + 1vw, 1.8rem);
    text-align: center;
    margin: 2rem auto;
}

.informacion-video {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
}

.informacion-video img {
    margin: 0 auto;
    height: 50vh;
    width: 60vw;
}

/* Casos de estudio */
.container-casos-estudio {
    background: linear-gradient(180deg, #DECDA3 0%, #FDF3D4 100%);
    padding: 10rem 0;
    width: 100%;
    margin: 0 auto;
}

.casos-estudio {
    width: 85%;
    margin: 0 auto;
}

.caso-estudio>h3 {
    margin: 7rem auto;
    width: 80%;
}

.descripcion-caso {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(0.66deg, #876445 0.6%, #513C29 0.61%, #E29C5E 99.47%);
    border-radius: 2rem;
    padding: 100% auto;
    margin: 2rem;
    padding: .5rem 0;
    flex-basis: calc(50%-2rem);
    box-shadow: 0px 0px 14px 5px rgba(166, 166, 166, 1);
}

.descripcion-caso img {
    width: 50%;
    height: 50%;
    margin: 0 auto;
}

.descripcion-caso p {
    margin: 3rem;
    text-align: justify;
    font-size: clamp(1.2rem, 1.2rem + 1vw, 2rem);
}

.datos-caso h3 {
    background: linear-gradient(0deg, rgba(129, 93, 8, 0.2), rgba(220, 33, 33, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(123.77deg, #d6965b 26.02%, #cd8d0d 34.1%, #c18908 42.75%, #7a6201 48.91%, #5f4c00 57.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.datos-caso {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #F2E3B5 0%, #7C6419 100%);
    border-radius: 2rem;
    margin: 2rem;
    box-shadow: 11px 16px 20px rgba(0, 0, 0, 0.25);
}

.datos-caso h3 {
    font-size: clamp(2rem, 2rem + 1vw, 4rem);
    text-align: center;
}

.datos-caso p {
    margin: 3rem;
}

@media (min-width: 992px) {
    .caso-estudio-grid {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        column-gap: 5rem;
        grid-auto-rows: minmax(200px, auto);
    }

    .garpenberg .caso-estudio-grid {
        grid-template-columns: 1fr 1fr 2fr;
    }

    .garpenberg .descripcion-caso {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
    }
}

/* Solucion Cloudshore */
.solucion-cloudshore-container {
    background: linear-gradient(180deg, #FDF3D4 0%, white 100%);
}

.solucion-cloudshore {
    width: 85%;
    padding: 3rem 0;
    margin: 0 auto;
}

.solucion-cloudshore-aux {
    width: 90%;
    margin: 0 auto;
}

.descripcion-cloudshore {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 6rem 0;
}

.descripcion-cloudshore img {
    margin: 0 0 6rem 0;
}

@media (min-width: 992px) {
    .descripcion-cloudshore {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .descripcion-cloudshore img {
        margin: 0;
    }

    .descripcion-caracteristicas p {
        margin: .5rem auto;
    }
}

.descripcion-caracteristicas p {
    font-size: clamp(1rem, 1rem + 1vw, 1.4rem);
}

.descripcion-caracteristicas {
    margin: 2rem;
}

.solucion-cloudshore>h2 {
    margin: 10rem 0;
    font-size: clamp(3rem, 3rem + 1vw, 5rem);
}

.caracteristicas-cloudshore {
    /* display: flex;
    flex-direction: column;
    margin: 7rem 0 2rem 0; */
}

.caracteristica-cloudshore {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.caracteristica-cloudshore img {
    margin: 0 0 2rem 0;
    height: clamp(7rem, 8rem + 1vw, 10rem);
}

.caracteristica-cloudshore h3 {
    height: clamp(7rem, 7rem + 1vw, 9rem);
    font-size: clamp(2rem, 2rem + 1vw, 3rem);
}

.caracteristica-cloudshore p {
    font-size: clamp(1rem, 1rem + 1vw, 1.8rem);
    text-align: justify;
}

@media (min-width: 768px) {
    /* .caracteristicas-cloudshore {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        grid-auto-rows: minmax(200px, auto);
    } */

    /* .caracteristicas-cloudshore {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .caracteristica-cloudshore {
        flex-grow: 1;
        flex: 1 1 24%;
        margin: 3rem 6rem;
    } */
}

@media (min-width: 992px) {
    /* .caracteristicas-cloudshore {
        grid-template-columns: repeat(4, 1fr);
        column-gap: 3rem;
        grid-auto-rows: minmax(200px, auto);
    } */
}

/* Ofrece Dignita */
.container-dignita-ofrece {
    background: linear-gradient(180deg, white 0%, #FDF3D4 100%);
    padding: 2rem 6rem 2rem 6rem;
}

.dignita-ofrece {
    margin: 10rem auto 0 auto;
    width: 85%;
}

.dignita-ofrece h2 {
    margin: 4rem 0;
}

.ofrece-lista {
    position: relative;
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

.ofrece-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    width: clamp(25rem, 25rem + 1vw, 35rem);
    transition: all 0.3s ease;
    height: clamp(25rem, 25rem + 1vw, 35rem);
}

.ofrece-item h3 {
    margin: 0 auto;
    text-align: center;
    font-size: clamp(2rem, 2rem + 1vw, 2.5rem);
    transition: all 0.5s ease;
}

@media (min-width: 992px) {
    .ofrece-item {
        position: absolute;
    }

    .ofrece-lista {
        margin: 0 auto;
        width: 80%;
        position: relative;
        height: 70vh;
    }

    /* .item1 {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .activo {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%) scale(1.3);
    }

    .item3 {
        position: absolute;
        bottom: 0;
        right: 0;
    } */

    .item1 {
        top: 50%;
        left: 0;
        animation: rotar1 6s;
        animation-iteration-count: infinite;
    }

    .item2 {
        top: calc(1vh - 10px);
        left: calc(50vw - 50%);
        animation: rotar2 6s;
        animation-iteration-count: infinite;
    }

    .item3 {
        top: 50%;
        left: calc(100% - 27rem);
        animation: rotar3 6s;
        animation-iteration-count: infinite;
    }

    @keyframes rotar1 {
        0% {
            transform: scale(1);
            top: 50%;
            left: 0;
        }

        33% {
            top: calc(1vh - 10px);
            left: calc(50vw - 50%);
            transform: scale(1.3);
        }

        66% {
            top: 50%;
            transform: scale(1);
            left: calc(100% - 27rem);
        }

        100% {
            transform: scale(1);
            top: 50%;
            left: 0;
        }
    }

    @keyframes rotar2 {
        0% {
            top: calc(1vh - 10px);
            left: calc(50vw - 50%);
            transform: scale(1.3);
        }

        33% {
            transform: scale(1);
            top: 50%;
            left: calc(100% - 27rem);
        }

        66% {
            transform: scale(1);
            top: 50%;
            left: 0;
        }

        100% {
            top: calc(1vh - 10px);
            left: calc(50vw - 50%);
            transform: scale(1.3);
        }
    }

    @keyframes rotar3 {
        0% {
            transform: scale(1);
            top: 50%;
            left: calc(100% - 27rem);
        }

        33% {
            transform: scale(1);
            top: 50%;
            left: 50px;
        }

        66% {
            top: calc(1vh - 10px);
            left: calc(50vw - 50%);
            transform: scale(1.3);
        }

        100% {
            top: 50%;
            left: calc(100% - 27rem);
            transform: scale(1);
        }
    }
}



@media (min-width: 992px) {
    .caracteristicas-dignita {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 5rem;
    }
}

.caracteristica-dignita {
    padding: 2rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    margin: 4rem auto;
    width: 90%;
    box-shadow: 0px 0px 14px 5px rgba(166, 166, 166, 1);
    transition: all 0.3s ease-in-out;
}

@media (min-width: 992px) {
    .caracteristica-dignita {
        padding: 2rem;
        border-radius: 1.5rem;
        display: grid;
        grid-template-columns: 3fr 7fr;
        margin: 4rem auto;
        width: 90%;
        box-shadow: 0px 0px 14px 5px rgba(166, 166, 166, 1);
        transition: all 0.3s ease-in-out;
    }
}

.caracteristica-dignita:hover {
    transform: scale(1.08);
}

.caracteristica-dignita img {
    margin: auto 0;
}

.texto-caracteristica-dignita {
    margin: 0 1rem;
}

.texto-caracteristica-dignita p {
    font-size: clamp(1.2rem, 1rem + 1vw, 1.9rem);
    text-align: justify;
}

.texto-caracteristica-dignita h3 {
    font-size: clamp(1.8rem, 2rem + 1vw, 2.2rem);
}

/* How */
/* empezar-terminar */
.container-how {
    background: linear-gradient(180deg, #FDF3D4 0%, #EDDFB3 100%);
    padding: 4rem;
}

.empezar-terminar {
    width: 85%;
    padding-bottom: 3rem;
    margin: 0 auto;
    color: black;
}

.empezar-terminar h2 {
    margin-bottom: clamp(35px, 3.47vw, 60px);
    /* 50px */
}

/* contenido */
.empezar-terminar .contenido {
    overflow: hidden;
}

.empezar-terminar .contenido>div {
    height: auto;
    display: flex;
    width: 400%;
    transition: 0.8s;
}

.empezar-terminar .contenido div>div {
    width: 100%;
}

.empezar-terminar p {
    text-align: center;
}

.empezar-terminar .contenido h3,
.empezar-terminar .contenido img,
.empezar-terminar .barra-res {
    display: none;
    text-align: center;
}

/* iconos */
.empezar-terminar .iconos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 60px;
}

.empezar-terminar .iconos>div {
    display: grid;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.empezar-terminar .iconos h3 {
    text-align: center;
    margin-top: 15px;
}

.empezar-terminar img {
    filter: grayscale(100%);
}

.empezar-terminar .iconos>div:first-child img {
    filter: grayscale(0%);
}

.empezar-terminar .barra {
    width: 100%;
    height: 35px;
    background-color: #fff;
    border-radius: 30px;
    overflow: hidden;
    margin-top: 40px;
}

.empezar-terminar .progreso {
    background: linear-gradient(180deg, #876445 0%, #513C29 0.01%, #E29C5E 100%);
    border-radius: 30px;
    transition: 0.8s;
    width: 25%;
    height: 100%;
}

@media screen and (max-width: 767px) {

    /* empezar-terminar */
    .empezar-terminar .iconos,
    .empezar-terminar .barra {
        display: none;
    }

    .empezar-terminar .contenido div>div {
        padding: 25px 30px;
        padding-top: 38px;
        border-radius: 20px;
        border: 2px solid var(--colorSecunadrio);
        display: flex;
        flex-direction: column;
        gap: 15px;
        position: relative;
        z-index: 1;
    }

    .empezar-terminar .contenido div>div img {
        height: 100px;
        width: 100%;
        object-fit: contain;
    }

    .empezar-terminar img {
        filter: grayscale(0%);
    }

    .empezar-terminar .contenido h3,
    .empezar-terminar .contenido img {
        display: inline-block;
    }

    .empezar-terminar .barra-res {
        display: grid;
        width: 100%;
        border-radius: 20px;
        border: 2px solid var(--colorSecunadrio);
        grid-template-columns: repeat(4, 1fr);
        overflow: hidden;
        position: relative;
        bottom: -25px;
        z-index: 2;
        background-color: var(--colorSecunadrio);
    }

    .empezar-terminar .barra-res>div>div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        background-color: var(--colorSecunadrio);
        border-radius: 20px;
        font-size: var(--h3-size-res);
    }

    .empezar-terminar .barra-res>div>div:not(.empezar-terminar .barra-res > div:last-child > div) {
        border-right: 2px solid var(--colorTerciario);
    }

    .empezar-terminar .barra-res>div:first-child>div {
        background-color: var(--colorPrimario);
    }

    .empezar-terminar .barra-res>div {
        background-color: var(--colorSecunadrio);
    }
}

/* Nuestras Mejoras */
.nuestras-mejoras {
    width: 80%;
    position: relative;
    margin: 0 10rem 10rem 10rem;
    margin: 0 auto;
}

.nuestras-mejoras h3 {
    font-size: clamp(1.7rem, 1.8rem + 1vw, 2.2rem);
    text-align: center;
    margin: 0rem auto;
}

.nuestras-mejoras h2 {
    font-size: clamp(5rem, 5rem + 2vw, 8rem);
    margin: 1.6rem auto;
    padding-top: 5rem;
    margin-top: 0;
}

.mejora {
    background: #876445;
    border-radius: 68px;
    padding: 3rem;
    margin: 4rem 0;
    box-shadow: 11px 16px 20px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-in-out;
}

.mejora:hover, .blog-industria:hover {
    transform: scale(1.08);
}

.mejora-titulo h3 {
    padding-bottom: 2rem;
    text-align: start;
    margin-top: clamp(3rem, 3.5rem + 1vw, 5rem);
}

.mejora-titulo h3::after {
    content: "";
    display: block;
    margin-top: 2rem;
    width: 35%;
    height: 4px;
    background: #fff;
}

.mejora-imagen {
    height: clamp(21rem, 21rem + 1vw, 23rem);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

.vector-1 {
    padding: 5rem 0;
    position: absolute;
    background-image: url(../img/Vector\ 3.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left top;
    z-index: 0;
    width: 65%;
    height: 75%;
}

.vector-2 {
    position: absolute;
    background-image: url(../img/Vector\ 4.png);
    background-repeat: no-repeat;
    background-size: auto;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-position: right bottom;
}

.mejoras {
    padding: 3rem 0;
}

@media (min-width: 992px) {
    .mejoras {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .mejora-titulo {
        height: clamp(5rem, 5rem + 1vw, 7rem);
        margin: clamp(1rem, 1rem + 1vw, 2rem) 0;
        margin-bottom: 4rem;
    }

    .mejora {
        margin: 5rem;
    }

    .mejora:nth-child(n+3) {
        margin-bottom: 9rem;
        margin-top: 8rem;
    }
}

/* Otras industrias */
.otras-industrias {
    padding: 0 0rem 10rem 0rem;
}

.otras-industrias h2 {
    position: relative;
    z-index: 2;
    color: white;
}

.swiper {
    width: 100%;
    height: 100%;
}

.blog-industria {
    box-shadow: 11px 16px 20px rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-in-out;
}

.swiper-wrapper {
    padding: 3rem;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-final {
    position: relative;
    z-index: 3;
    background: linear-gradient(180deg, #EDDFB3 0%, #D2A882 100%);
}

.titulo-ecommerce {
    position: relative;
    z-index: 1;
    margin: 6rem auto 2rem auto;
    color: white;
    font-size: clamp(2rem, 2rem + 1vw, 3.2rem);
}

.elemento-ecommerce {
    height: clamp(40rem, 40rem + 1vw, 60rem);
    background-color: #EDDFB3;
    transition: all .5s ease;
    border-radius: 3rem;
}

.elemento-ecommerce:hover {
    transform: scale(1.1);
}

.blog-industria {
    border-radius: 3rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagen-blog img {
    margin: 3rem;
}

.imagen-blog img {
    margin: 3rem auto;
}

.titulo-blog h3 {
    margin-bottom: 0;
    margin-top: 0;
}

.texto-blog {
    padding: 0 3rem;
    text-align: justify;
}

.enlace-blog {
    font-size: clamp(1.6rem, 1.6rem + 1vw, 2.2rem);
    text-align: start;
}

.container-enlace {
    width: 80%;
    padding-bottom: 2rem;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {

    /* Core */
    .core .circulo,
    .core .cards-contenedor>div {
        border: 2px solid #C2C2C2;
    }

    .core .cards-contenedor>div:hover,
    .core .cards-contenedor>div:hover .circulo {
        animation: none;
    }
}

@media screen and (max-width: 767px) {

    /* Core */
    .core .circulo,
    .core .cards-contenedor>div {
        border: 2px solid #C2C2C2;
    }

    .core .cards-contenedor>div:hover,
    .core .cards-contenedor>div:hover .circulo {
        animation: none;
    }
}

#particles-js {
    /* position: inherit;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 0; */
}

.c, .particles-js-canvas-el{
    position: absolute;
    top: 15rem;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.mySwiper2 {
    border-radius: 3rem;
    border: 3px solid #D4C185;
}